/* Global styles */

* {
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;

}

/* Typography */

.title {
	font-size: 2rem;
}

.title span {
	font-weight: 300;
	/* displays the span on its own line */
	display: block;
	font-size: .9em;
}

/* buttons */

.button {
	/* allows padding to be effectively applied */
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1em;
}

.button.button-accent {
	color: #fff;
}


/* header */

header {
	/* makes the header stay on top of the hero */
	position: absolute;
	/* left: 0; */
	right: 0;
	margin-top: 1em;
	}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	padding: .3em;
	font-size: .9rem;
	font-weight: 600;
	color: #fff;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

/* hero section */

section.home-hero {
	background: url(../images/hero-bg.jpg);
	padding: 10em 0;
	color: #fff;
}
































