* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: auto 92vh 35em 20em;
  grid-template-columns: auto;
  grid-template-areas:
  "header header header header header"
  "hero   hero   hero   hero   hero"
  " main   main   main   main   main"
  " form   form   form   form  form "
  " footer footer footer footer footer ";
  /* background: black; */
}

header {
  grid-area: header;
  background: grey;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #232323;
}

.social-icons a {
  color: #232323;
}

.social-icons i {
  color: #fff;
  margin-right: .5em;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 35em;
}

.nav-links li {
  list-style-type: none;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  border-radius: 30%;
  background-color: #fff;
  margin: 5px;
  transition: all 0.3 ease;
}

.hero {
  grid-area: hero;
  background: lightgreen;
  background-image: url("../images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-title h2 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding-top: 3em;
  color: #fff;
  font-weight: 300;
  font-size: 3em;
}

.hero-title h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  color: #fff;
  font-weight: 300;
}

.scrolldown {
  position: absolute;
  bottom: -130px;
  left: 50%;
  width: 10%;
  height: 110px;
  transform: translateY(-120px) translateX(-50%) rotate(45deg);
  /* opacity: 1; */
}

.scrolldown span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 30%;
  height: 35%;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: animate 1.5s linear infinite;
  opacity: 0;
}

.scrolldown span:nth-child(1) {
  transform: translate(-15px, -15px);
  animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
  transform: translate(0, 0);
  animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
  transform: translate(15px, 15px);
  animation-delay: 0s;
}

main {
  grid-area: main;
  background: lightblue;
  padding: 5em;
  /* margin: 2em; */
}

form {
  grid-area: form;
  background: green;
}

footer {
  grid-area: footer;
  background: pink;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* media queries */

@media screen and (max-width:1024px) {
  .nav-links {
    width: 30em;
  }

  .scrolldown {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 20%;
    height: 110px;
    transform: translateY(-120px) translateX(-50%) rotate(45deg);
    /* opacity: 1; */
  }

  .scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 50%;
    height: 50%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }

}


@media screen and (max-width:768px) {

  body {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 92vh 30em 15em;
    grid-template-columns: auto;
    grid-template-areas:
    "header header header header header"
    "hero   hero   hero   hero   hero"
    " main   main   main   main   main"
    " form      form   form   form   form "
    " footer  footer   footer footer  footer ";
    background: black;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    /* ends here */
    height: 50vh;
    /* starts here */
    top: 8vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* customizable */
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .scrolldown {
    position: absolute;
    bottom: -150px;
    left: 50%;
    width: 20%;
    height: 110px;
    transform: translateY(-120px) translateX(-50%) rotate(45deg);
    /* opacity: 1; */
  }

  .scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35%;
    height: 45%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }

}


@media screen and (max-width:320px) {

  body {
    overflow-x: hidden;
    display: grid;
    grid-template-rows: auto 92vh 30em 15em;
    grid-template-columns: auto;
    grid-template-areas:
    "header header header header header"
    "hero   hero   hero   hero   hero"
    " .   main   main   main   ."
    " .      form   form   form   . "
    " .      footer   footer   footer   . ";
    background: black;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    /* ends here */
    height: 50vh;
    /* starts here */
    top: 8vh;
    background-color: #232323;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* customizable */
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }

  .scrolldown {
    position: absolute;
    bottom: -150px;
    left: 45%;
    width: 20%;
    height: 110px;
    transform: translateY(-120px) translateX(-50%) rotate(45deg);
    /* opacity: 1; */
  }

  .scrolldown span {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 35%;
    height: 20%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
  }

}


/* animations */

@keyframes navLinkFade {
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animate {
  0%
  {
    top: -5px;
    left: -5px;
    opacity: 0;
  }
  25%
  {
    top: 0px;
    left: 0px;
    opacity: 1;
  }
  50,100%
  {
    top: 5px;
    left: 5px;
    opacity: 0;
  }
}

/* Classes added on click */

.nav-active {
  transform: translateX(0%);
}

.toggle .line1 {
transform: rotate(-45deg) translate(-5px, 6px);
transition: transform 0.5s ease-in;
}

.toggle .line2 {
opacity: 0;
}

.toggle .line3 {
transform: rotate(45deg) translate(-5px, -6px);
transition: transform 0.5s ease-in;
}
































