/* Global styles */

* {
	box-sizing: border-box;
}

body {
	font-family: "Raleway", sans-serif;
	margin: 0;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
}

.container {
	width: 95%;
	margin: 0 auto;

}

/* Typography */

.title {
	font-size: 2rem;
}

.title span {
	font-weight: 300;
	/* displays the span on its own line */
	display: block;
	font-size: .9em;
}

@media (min-width: 60rem) {
	.title {
		font-size: 3.1rem;
	}
}

/* buttons */

.button {
	/* allows padding to be effectively applied */
	display: inline-block;
	font-size: 1.5em;
	text-decoration: none;
	text-transform: uppercase;
	border-width: 2px;
	border-style: solid;
	padding: .5em 1em;
}

.button-accent {
	color: #fff;
}

.button-accent:hover,
.button-accent:focus {
	background: black;
	color: #232323;
	color: #fff;
}

.button-small {
	color: black;
	font-size: .8em;
}


/* nav bar */

header {
	/* makes the header stay on top of the hero */
	position: absolute;
	/* left: 0; */
	right: 0;
	margin: 1em 3em;
	}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin: 1em;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	padding: .3em;
	font-size: .9rem;
	font-weight: 600;
	color: #fff;
}

nav a:hover,
nav a:focus {
	color: #ddd;
}

@media (min-width: 60rem) {
	nav {
		float: right;
	}
}

/* hero section */

section.home-hero {
	background: url(../images/hero-bg.jpg);
	padding: 10em 0;
	color: #fff;
}
































