@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap');

body, html {
  margin: 0;
  // overflow: hidden;
}

// start of Global styles

body {
    height: 100%;
    background: black;
    font-weight: bold;
    color: #fff;
    font-family: "Montserrat", sans serif;
    font-size: .8em;
  }

  img {
    width: 100%;
    object-fit: contain;
  }

  // end of Global styles

header {
   // position: absolute;
   padding: 1em;
   display: flex;
   width: calc(100% - 2em);
   justify-content: space-between;
   z-index: 20;
   border: 1px solid grey;

    a {
      text-decoration: none;
      color: #fff;
    }

  a.logo {
    font-weight: bold;
    text-transform: uppercase;
  }

  nav ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    justify-content: space-around;

    li a {
      padding: .3em;
    }
  }

}

// start wrapper
.wrapper {
  display: grid;
  border: 2px solid green;
  grid-template-columns: auto;

  section {
    margin: 1.5em;
    padding: 1em;
    border: 1px solid blue;

  }

// start intro section
  section.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;

    .profile-pic, .bio {
      padding: 1em;
      text-align: center;
      border: 1px solid gray;
    }
  }

  // end intro section

// start work section
  section.work {
      display: grid;
      grid-gap: 20px;
      // grid-template-row: repeat(2, 1fr);

    .inner {
      text-align: left;
      padding: 0 1em;
      border: 1px solid gray;
    }

    .projects {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
      padding: 1em;
      border: 1px solid gray;

    }
  }
// end work section

// start of about section



// end of about section


// start of contact section



// end of contact section

}
// end wrapper

footer {
  border: 1px solid gray;
  text-align: center;
}